html 
{
    background-image: url("greyzz.png");
}

@font-face {
    font-family: Simply-Glamorous;
    src: url('./simply_glamorous/Simply Glamorous.ttf');
}


body {
    margin: 0;
    font-family: Simply-Glamorous, Sans-Serif;
}

body div {
    text-align:center;
    background-image: url("greyzz.png");
}
    body div#nameDiv
    {
        color: #AAF0D1;
        font-size: 100px;
        margin-top: 75px;
    }
 
    body div#twitter
    {
        margin-left: 592px;
    }
