html 
{
    background-image: url("greyzz.png");
}

@font-face {
    font-family: KGEyesWideOpen;
    src: url('./kg_eyes_wide_open/KGEyesWideOpen.ttf');
}


body {
    margin: 0;
    font-family: KGEyesWideOpen;
}

body div {
    text-align:center;
    background-image: url("greyzz.png");
}
    body div#nameDiv
    {
        color: #AAF0D1;
        font-size: 100px;
        margin-top: 75px;
    }
 
    body div#twitter
    {
        
    }
    
    body div#resume
    {
     color: #000000;
     font-size: 14px;
     margin-top: 20px;
     font-family: Helvetica;
     
    }
    
